*{
	margin: 0; padding: 0
}

body 
{
	font-family: 'Open Sans',sans-serif;
	background: #ffffff;
	color: #212121;
}

.header
{
	background-color: #ffffff;
}

.logo
{
	margin: 25px 0;
}

.menu
{
	margin: 10px 0;
	padding: 20px 0;
}

.navbar-default
{
	background: transparent;
	border: none;
}

.navbar-nav li a
{
	font-weight: bold;
}

.navbar-brand
{
	font-family: 'Oswald', sans-serif;
}
.formtitle
{
	/*background-color: #212121;*/
	/*color:#ffffff;*/
	margin-bottom: 15px;
	padding: 10px;
	font-weight: bold;
}

.headregister
{
    background:#f5f5f5;
}

.formregister
{
	font-family: 'Open Sans', sans-serif;
	color: #000000;

}

.formulir h1
{
	font-size: 30px;
	font-family: roboto;
	font-weight: bold;	
	color: #000000;
}

.formulir h4
{
	font-size: 20px;
	color: #000000;
	padding-bottom: 20px;
}

.registrasi 
{
	color: #000000;	
	font-family: roboto;	
	max-width: 600px;
	padding: 15px;
    margin: 0 auto;
    border-radius: 0.5em;
    background-color: #f5f5f5;
}

.label
{
	font-size: 15px;
	text-align: justify;
	margin-left: 60px;
	margin-top: 10px;
	color: #000000;
}

.registrasi input[type=text] 
{
	padding: 5px;
	border-radius: 5px;
	width: 100%;
}

.registrasi input[type=radio]
{
	margin-bottom: 15px;
	margin-right: 5px;
	margin-top: 12px;
	color: #ffff;
}

.registrasi input[type=submit]
{
	font-size: 15px;
	font-weight: bold;
	margin-top: 5px;
	color: #FFFFFF;
	background-color: #278CF7;
	cursor: pointer;
	border: 0px;
	border-radius: 4px;
	width: 100%;
	margin-bottom: 30px;
}

footer 
{
	background: #283593;
	color: #ecf0f1;
}


.copyright 
{
	background: #1a237e;
	color: #fff;
}

.tanggal_lahir select
{
		float: left; 
		width: 100px; 
		margin-right: 10px;
}