*{
	margin: 0; padding: 0
}

body {
	font-family: 'Open Sans',sans-serif; 
	background: #ffffff;
}

header{
	background-color: #f5f5f5;
}

.logo {
	margin: 25px 0;	
}

.menu{
	margin: 10px 0;
	padding: 20px 0;		
}

.navbar-default{
	background: transparent;
	border: none;
}

.navbar-nav li a{
	font-weight: bold;	
}

.navbar-brand{
	font-family: 'Oswald', sans-serif;
}

.caption{

}

.image{
	padding-left: 120px;
}

.image img{
	border-radius: 50%;
}

.testimoni{

}

.footer{
	background: #3a3c41;
	color: #ecf0f1;
}


.copyright{
	background: #292a2f;
	color: #fff;
}